.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 124px; /* 124px is the height of the now playing bar + padding */
  background-color: var(--btd-color-primary);
  width: calc(100% - 361px);
}
