.page {
  background-color: var(--btd-color-bg);
  color: var(--btd-color-secondary);
}

.featured-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--btd-space-2) var(--btd-space-5);
  margin-bottom: var(--btd-space-10);
}

@media (max-width: 1145px) {
  .featured-row {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .featured-row {
    padding: var(--btd-space-2) var(--btd-space-3);
    width: calc(100vw - 20px);
  }
}
