@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Colors */
  --btd-color-primary: #0c0c0c;
  --btd-color-secondary: #f7f7f7;
  --btd-color-accent: #c96908;

  --btd-color-bg: var(--btd-color-primary);
  --btd-color-fg: var(--btd-color-secondary);

  --btd-color-text-primary: var(--btd-color-secondary);
  --btd-color-text-secondary: var(--btd-color-primary);

  --btd-color-border: #d1d1d1;
  --btd-color-border-dark: #444;

  --btd-color-text-muted: #888;
  --btd-color-text-light: var(--btd-color-secondary);
  --btd-color-text-dark: var(--btd-color-primary);

  --btd-color-card-bg: #fff;
  --btd-color-card-bg-dark: #222;
  --btd-color-card-border: #989898;
  --btd-color-card-border-dark: #444;

  --btd-color-link: #111;
  --btd-color-link-hover: #555;
  --btd-color-link-light: #fff;
  --btd-color-link-light-hover: #ccc;

  /* space (4px scale) */
  --btd-space-0: 0px;
  --btd-space-1: 0.25rem;
  --btd-space-2: 0.5rem;
  --btd-space-3: 0.75rem;
  --btd-space-4: 1rem;
  --btd-space-5: 1.25rem;
  --btd-space-6: 1.5rem;
  --btd-space-7: 1.75rem;
  --btd-space-8: 2rem;
  --btd-space-9: 2.25rem;
  --btd-space-10: 2.5rem;
  --btd-space-11: 2.75rem;
  --btd-space-12: 3rem;
  --btd-space-13: 3.25rem;
  --btd-space-14: 3.5rem;
  --btd-space-15: 3.75rem;
  --btd-space-16: 4rem;
  --btd-space-17: 4.25rem;
  --btd-space-18: 4.5rem;
  --btd-space-19: 4.75rem;
  --btd-space-20: 5rem;

  --btd-space-xs: 0.25rem;
  --btd-space-sm: 0.5rem;
  --btd-space-md: 1rem;
  --btd-space-lg: 2rem;
  --btd-space-xl: 3rem;
  --btd-space-2xl: 4rem;

  /* Fonts */
  --btd-font-main: "Oswald", sans-serif;
  --btd-font-mono: "Work Sans", "Menlo", "Monaco", monospace;

  /* Font sizes */
  --btd-font-size-xs: 0.75rem;
  --btd-font-size-sm: 0.875rem;
  --btd-font-size-md: 1rem;
  --btd-font-size-lg: 1.5rem;
  --btd-font-size-xl: 2rem;

  /* Font weights */
  --btd-font-weight-regular: 400;
  --btd-font-weight-medium: 500;
  --btd-font-weight-semibold: 600;
  --btd-font-weight-bold: 700;
  --btd-font-weight-heavy: 800;

  /* Radius */
  --btd-radius-sm: 4px;
  --btd-radius-md: 8px;
  --btd-radius-lg: 12px;
  --btd-radius-round: 50%;
  --btd-radius-pill: 9999px;

  /* Shadows */
  --btd-shadow-sm: 0px 1px 2px rgba(0, 0, 0, 0.05);
  --btd-shadow-md: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --btd-shadow-lg: 0px 4px 8px rgba(0, 0, 0, 0.15);
  --btd-shadow-xl: 0px 8px 16px rgba(0, 0, 0, 0.2);

  /* Transitions */
  --btd-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --btd-section-transition: 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
