.carousel {
  /* Add your component styles here */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-height: 400px;
  width: 100%;
  max-width: calc(100% - 80px);
}

.carousel-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 0 var(--btd-space-5);
}

.carousel-action {
  font: var(--btd-font-main);
  background: transparent;
  color: var(--btd-color-secondary);
  border: 1px solid var(--btd-color-secondary);
  padding: 5px 10px;
  border-radius: var(--btd-radius-sm);
  font-size: var(--btd-space-3);
  text-transform: uppercase;
  cursor: pointer;
}

.carousel-action:hover {
  opacity: 0.8;
}

.carousel-items {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  gap: var(--btd-space-3);

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.carousel-items::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
.carousel-items::-moz-scrollbar {
  display: none; /* Hide scrollbar for Firefox */
}

.carousel-arrows {
  display: flex;
  gap: var(--btd-space-1);
}

.carousel-arrow {
  background: transparent;
  color: var(--btd-color-secondary);
  border: 1px solid var(--btd-color-secondary);

  border: none;
  cursor: pointer;
}
